<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Booklist Index</h1>
    <p>click title to see more</p>

    <div class="book-container">
        <% for (let i = 0; i < books.length; ++i) { %>
            <div class="book">
                <a href="/books/<%= books[i]._id %>" class="book-title">
                    <%= books[i].title %>
                </a>
                <!-- delete form goes here -->
                <!-- cta - call to action -->
                <div class="cta">
                    <form action="/books/<%= books[i]._id%>/?_method=DELETE" method="post" id="deleteform">
                        <input type="submit" value="Remove Book">
                    </form>
                    <!-- Link to our edit page -->
                    <a href="/books/edit/<%= books[i]._id %>/" class="book-edit">Edit <%= books[i].title %></a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>